<div class="row">
  <div class="col-sm-4">
    <h1><%= @user.name %></h1>
  </div>
  <div class="col-sm-8">
    <%= image_tag gravatar_image_url(current_user.email, filetype: :png, rating: 'pg', secure:false ), size: "100x100", :class => "img-circle" %>
  </div>
</div>