<% provide(:title, 'New Cycle') %>
<% provide(:button_text, 'Save Cycle') %>
<h1>New Cycle</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>

    <%= link_to 'Back', nr_cycles_path %>
  </div>
</div>

